@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --background-color: #24252f;
    --accent-color: #C7C6CF;
}

.btn {
    cursor: pointer;
}

.active {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-underline-offset: 8px;
}

.section {
    border-color: var(--accent-color);
    border: 2px solid;
}

.main {
    flex: 1 1 auto;
    width: 100%;
}

html, body {
    font-family: "Jetbrains Mono", monospace;
    color: var(--accent-color);
    background-color: var(--background-color);
    height: 98.6%;
}

h1 {
    font-weight: 200;
    font-size:x-large;
}

h1:hover {
    text-shadow: #C7C6CF 0 0 3px;
}

#maindiv {
    padding: 10px;
    display: flex;
    flex-flow: column ;
    height: 100%;
}

#header{
    display: grid;
    grid-template-columns: 33% auto 33%;
    justify-content: space-evenly;
    gap: 0%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

t1 {
    position: absolute;
    top: 0px;
    left: 30px;
    background-color: var(--background-color);
    border: 8px solid var(--background-color);
}

t2 {
    position: absolute;
    top: 143px;
    left: 30px;
    background-color: var(--background-color);
    border: 8px solid var(--background-color);
}

